@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';

@import 'modules/errors'; // error page

body {
    color: $main-color;
    background-color: $body-bg;
}

h1{color:black}


#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }


.container
{
    margin:0 auto;
    text-align:center;
}

.p-name
{
    font-size:20px;
    letter-spacing:2px;
    font-family:helvetica,arial,sans-serif;
    font-size: 100px;
}

.introText
{
    font-size:25px;
    font-weight:20px;
    font-family:helvetica,arial,sans-serif;
    text-align:center;
    color:black
}
.my-logo
{
    width:145px;
    height:119px;
    
}

#socialmedia
{
    margin-top: 12px;
}
    

#socialmedia li {
        display: inline-block;
        padding:3px;
        
    }
#socialmedia li img
{
    width:52px;
        height:51px;
}
.page {
    display: none;
}

.default {
    display: block;
}

:target {
    display: block;
}


:target ~ .default {
    display: none;
}

.mainNav
{
  width: 500px;
  height: 25px;
margin: 0 auto;
}

.mainNav ul
{
  list-style-type: none;
  padding: 0;
}

.mainNav ul li {  
  font-size: 14px;
  display: inline;
  cursor: pointer;
  margin-left: 25px;
}

.mainNav ul li a
{
  color:  #ffffff;
  padding: 5px;
  text-decoration:none;
  font-family:helvetica, arial, sans-serif;
  font-size: 15px;
}

.mainNav ul li a:hover {
  padding: 5px;
  background-color: #000000;
}

.user-panel-heading
{
    font-size:40px;
    letter-spacing:2px;
    font-family:helvetica,arial,sans-serif;
}

.error
{
    width:100px;
    height:100px;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .my-logo{
    

    }

}
@import 'modules/_footer'
