<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <title>SinghInderjit</title>
</head>
<main class="container">
    
<body>
    <header>
    <img src="images/myLogo.png" class = "myLogo">

    <ul id="socialmedia">
        <li><a href="https://www.behance.net/inderjitsingh2" target="_blank"><img src="images/behance.png"  class="behance"></a></li>
        <li><a href="https://www.instagram.com/inderjit._.singh/" target="_blank"><img src="images/instagram.png" class="instagram"></a></li>
        <li><a href ="https://www.linkedin.com/in/inderjit-singh-311184198/" target="_blank"><img src="images/linkedin.png"  class="linkedin"></a></li>

    </ul>

    <nav class="mainNav">
        <ul>
    <li><a href="#section1">ABOUT ME</a></li>
    <li><a href="#section3">RECENT WORK</a></li>
    <li><a href="#contactSection">REACH US</a></li>
    </ul>
</nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    

    <a id="to-top" href="#" class="nav-item">back to top</a>

    <script type="module" src="js/main.js"></script>
    <script>
        var name = "mybio";

        console.log('name in main file: ' + name);
    </script>

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="my_intro">
            <div class="user-panel-header">
                <img class="my-avatar"></img>
                <h1 class="firstName"></h1>
               <h1 class="lastName"></h1>
            </div>

            

            <button class="user-button">More Details</button>
        </div>
    </template>

    <footer>
        <div class="copyright_section"></div>
    </footer>
    </main>
    <!-- end templates-->
</body>

</html>