


.my_intro {
    flex: 0 1 200px;
    text-align: center;
    padding: 8px;
    margin-top: 80px;
    height:auto;
    background-color:#363636;
}


    .my-avatar { width: 202px; height:269px; border-radius: 10px;   border:5px black solid; border-color:grey;float:center; }
    
    #myName
    {
        display:flex;
        flex-direction:row;
       
        
    }

    #firstName
    {
        font-size:50px;
        font-family:helvetica,arial,sans-serif;
        color:#ffffff;
        letter-spacing:2px;
       
       
    }
    

    #lastName
    {
        font-size:50px;
        font-family:helvetica,arial,sans-serif;
        color:#000000;
        letter-spacing:2px;
        margin-left: 10px;
    }
    
   #myDescription
   {
     font-size:25px;
     font-family: Helvetica, arial, sans-serif;
     line-height: 35px; 
      
   }

   .my_skills
   {
    
       margin-top:30px;
       float:center;

   }

   .sectionhead
   {
       font-family:helvetica,Arial, sans-serif;
       font-size:50px;
       letter-spacing: 6px;
       color:#ffffff;
       text-decoration:underline;
   }
   .my-skills 
   {
       width:253px;
       height:240px;
       filter:grayscale(100%)
      

   }
   
   .my-skills:hover
   {
       filter:grayscale(0%)
   }

   #Type
   {
       font-family: Helvetica, Arial, sans-serif;
       font-size:30px;
       letter-spacing:4px;
       color:#ffffff;
   }

    .team { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    

        .u-link { 
            display: block; 
            //width: 150px;  
            text-decoration: none;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 5px;
        }

        h1, h3 { margin: 5px 0; }
    }
    .lightbox-div
{
    width:210px;
    height:120px;
    background-color:#ffffff;
    margin:0 auto;
    border-radius: 5px;

}

.playIcon
{
    width:30px;
    height:30px;
    margin-top:50px;
}






.portfolioPiece
{
    display:flex;
    flex-direction:column;
}





#portfolio1

{
    position:absolute;
    width:113px;
    height:109px;
    background-color:#a1a1a1;
    margin:0 auto;
    border-radius: 5px;
    margin-top:30px;
    margin-left:30px;



}

#portfolioSection
{
    background-color: #b7b7b7;
    margin-top:20px;

}

.portfolio
{
    width:104px;
    height:90px;
    margin-top:5px;
}

#portfolioType
{
    font-size:15px;
}




@media screen and (min-width: 900px) {
    .team {
        .user-panel { 
            flex: 1 1;

            .u-avatar { max-width: 300px; }
        }
    }
}

